<nav>
    <ul class="navBar">
        <a href="/" title="Home Page"><li>Home</li></a>
        <a href="/infos/" title="More Info"><li>Get Started</li></a>
        <a href="/contact/" title="Contact"><li>Contact Us</li></a>
    </ul>
</nav>