<div id="home-content">
    <section class="images-testimonies">
        <div class="imagesContainer">
            <div>
                <img src="/images/site/banner-1.jpg" alt="mase jars for food storage">
            </div>    
            <div>
                <img src="/images/site/canned-500.jpg" alt="canned food on a rack">
            </div>
        </div>
        <div id="testimonies">
            <div class="testimony">
                <h2>Lisset, 46</h2>
                <p>
                    Our heavenly Father desires for us to prepare for the different
                    situations that we will face during this earth. I've been through hard
                    times and lost many jobs; nevertheless, I have seen Heavenly Father's blessings
                    through the principle of Food Storage.
                </p>
            </div>
            <div id="divisor"></div>
            <div class="testimony" id="testimony2">
                <h2>Hector, 29</h2>
                <p>
                    I know in my heart that God is always preparing the way for us to endure through
                    the trials that are meant to refine us to become more like our Savior. Thanks to the principle
                    of storing food and preparing for trials, I've come to trust more my Father in heaven.
                </p>
            </div>
        </div>
        <div id="actionBtn">
            Learn Now!
        </div>
    </section>
</div>