<div id="home-content">
    <section class="images-testimonies">
        <div class="imagesContainer">
            <img src="/images/site/banner-1.jpg" alt="mase jars for food storage">
        </div>
        <div id="actionBtn">
            Learn Now!
        </div>
    </section>
</div>