body{
    margin: 0 auto;
    background-color: #121212;
}
.title-nav{
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    background-color: #388E3C;
}
.siteName a, nav a{
    text-decoration: none;
}
#homeTitle{
    color: white;
    font-size: 2.6em;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.navBar{
    display: flex;
    justify-content: space-between;
    font-family: "Josefin Slab", serif;
    list-style-type: none;
    padding: 0 1.5em;
}
.navBar li{
    padding: 1em;
    color: white;
    font-size: 1.1em;
}
.titleTestimonies{
    font-family: "Josefin Slab", serif;
    color: #E0E0E0;
    text-align: center; 
}
.images-testimonies{
    background-color: #1E1E1E;
    padding: 1em;
}
#divisor{
    border: 1px solid #E0E0E0;
    margin-top: 2em;
}
.imagesContainer{
    display: flex;
    justify-content: space-around;
}
.imagesContainer div img{
    max-width: 230px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#actionBtn{
    color: white;
    font-family: "Raleway", sans-serif;
    padding: 1em;
    border: 3px solid #388E3C;
    border-radius: 10px;
    max-width: 50%;
    justify-self: center;
    background-color: #121212;
}
a{
    text-decoration: none;
}
#actionBtn:hover{
    background-color: #388E3C;
    color: #121212;
}
#testimonies{
    background-color: #121212;
    padding: .4em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.testimony{
    color: #E0E0E0;
}
#testimony2{
    margin-top: 2.4em;
}
.testimony h2{
    font-family: "Josefin Slab", serif;
}
.testimony p{
    font-family: "Raleway", sans-serif;
    line-height: 1.7em;
}

.infoTitle, .contactTitle{
    font-family: "Josefin Slab", serif;
    color: #E0E0E0;
    text-align: center;
}
#typeContainers, #sources{
    background-color: #1E1E1E;
    color: #E0E0E0;
    padding: 1em;
    font-family: "Raleway", sans-serif;
    line-height: 1.5em;
}
#typeContainers ul li{
    list-style-type: none;
}
#recommendations{
    background-color: #121212;
    color: #E0E0E0;
    padding: 1em;
    font-family: "Raleway", sans-serif;
    line-height: 1.5em;
}
.links-sources a{
    text-decoration: none;
    color: #E0E0E0;
}
.links-sources a:hover{
    color: #FF8A80;
}
footer{
    background-color: #388E3C;
    padding: 1em;
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-top: 1em;
    color: white;
}
.error-block{
    background-color: #121212;
    color: #E0E0E0;
    padding: 1em;
    font-family: "Raleway", sans-serif;
    line-height: 1.5em;
}
.message-comfort{
    padding: .1em 1.2em;
}
.message-comfort p{
    color: #E0E0E0;
    font-family: "Raleway", sans-serif;
    line-height: 1.5em;
}
.contact-content{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-content h3, .contact-content p{
    font-family: "Raleway", sans-serif;
    color: #E0E0E0;
    text-align: center;
}